{% extends 'base.html' %}

{% block contenu %}
    <h1 class="mb-4">Publication</h1>

    <div class="row">
        {% for post in publications %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.username }}</h5>
                        <p class="card-text text-muted">
                            {{ post.contenu or 'Aucune bio pour l instant.' }}
                        </p>
                        <p class="card-text">{{ post.created_at }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}